@media (max-width: 1069px) {
    .container {
        max-width: 1069px;
        max-height: 135vh;
        margin: 0;
        padding: 0px 30px;
        padding-top: 30px;
    }

    .content {
        flex-direction: column;
        padding-top: 60px;
    }

    .content__desc {
        align-self: center;
        max-width: 30rem;
        margin-bottom: 5rem;
    }

    .content__btn-wrap {
        align-self: center;
    }

    .content__img-wrap {
        align-self: center;
        max-width: 569px;
    }
}